@import url("https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}
.banner {
  background-image:
    linear-gradient(rgba(4, 9, 30, 0.7)), url("./images/banner.png");
  min-height: 100vh;
  width: 100%;
  background-size: cover;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
#menu-icon {
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
}
#menu-icon,
#close-icon {
  display: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 6%;
}
.logo-image img {
  width: 50px;
  border-radius: 50%;
}
.nav-icons {
  flex: 1;
  text-align: right;
}
.nav-icons ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 15px;
}
.nav-icons ul li a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
}
.nav-icons ul li::after {
  content: "";
  width: 0%;
  display: block;
  height: 2px;
  background-color: red;
  transition: all 0.4s;
  margin: auto;
}
.nav-icons ul li:hover::after {
  width: 100%;
}
.text-box {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  margin: auto;
}
.text-box h1 {
  font-size: 62px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
}
.hero-button {
  display: inline-block;
  cursor: pointer;
  padding: 14px 35px;
  border: 1px solid #fff;
  color: white;
  background-color: transparent;
  transition: all 0.4s;
}
.hero-button:hover {
  background-color: red;
  border: 1px solid red;
}
.Course {
  margin: auto;
  width: 80%;
  text-align: center;
  padding-top: 100px;
}
.Course h1 {
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 10px;
}
.Course p {
  line-height: 22px;
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
}
#course-p {
  margin-top: 10px;
  padding: 0px 100px;
}
.row {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.course-col {
  background-color: #fff3f3;
  flex-basis: 31%;
  padding: 20px 12px;
  margin-bottom: 5%;
  transition: all 0.4s;
  border-radius: 10px;
}
.course-col h3 {
  margin: 10px 0px;
  font-size: 20px;
}
.course-col p {
  padding: 0px 20px;
  font-size: 14px;
  font-weight: 300;
}
.course-col:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.campus {
  width: 80%;
  margin: auto;
  margin-top: 100px;
  text-align: center;
}
.campus h1 {
  padding-bottom: 10px;
}
.campus p {
  line-height: 22px;
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
}
.campus-box img {
  width: 100%;
  display: block;
}
.campus-box {
  margin-bottom: 5%;
  flex-basis: 32%;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
}
.layer {
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}
.layer:hover h1 {
  opacity: 1;
  bottom: 40%;
}

.layer h1 {
  width: 100%;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: 1s;
  color: #fff;
}
.layer:hover {
  background-color: rgba(255, 30, 0, 0.583);
}
.edu {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 5%;
}
.edu-box img {
  width: 100%;
  height: 500px;
  border-radius: 5px;
}
.edu-box {
  flex-basis: 31%;
}
.edu p {
  line-height: 22px;
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
}
.edu h1 {
  padding-bottom: 10px;
}
.edu h3 {
  margin: 15px 0px;
}
.edu-box p {
  padding: 0px;
}
.stu {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}
.stu h1 {
  padding-bottom: 10px;
}
.stu p {
  line-height: 22px;
  font-size: 14px;
  font-weight: 400;
}
.stu-box {
  background-color: #fff3f3;
  flex-basis: 44%;
  margin-bottom: 5%;
  border-radius: 10px;
  text-align: left;
  padding: 20px;
  cursor: pointer;
  display: flex;
}
.stu-box img {
  height: 40px;
  border-radius: 50%;
  margin-left: 5px;
  width: 40px;
  margin-right: 30px;
}
.stu-box p {
  margin-bottom: 15px;
  font-weight: 500px;
}
.stu-box i {
  color: orangered;
}
.contact {
  width: 80%;
  margin: 100px auto;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./images/banner2.jpg);
  padding: 100px 0px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  text-align: center;
}
.contact h1 {
  margin-bottom: 40px;
  color: white;
}
.footer {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 1%;
}
.footer-description {
  margin: 30px 0px;
}
.icons i {
  margin: 20px 0px;
  color: rgb(255, 64, 0);
  margin: 0px 13px;
  margin-bottom: 10px;
  cursor: pointer;
}
.footer h4 {
  width: 100%;
  font-weight: 600;
}
@media (max-width: 800px) {
  .row {
    flex-direction: column;
  }

  .nav-icons {
    display: none;
  }
  #menu-icon {
    display: block;
  }
  .text-box h1 {
    font-size: 30px;
  }
  .text-box p {
    font-size: 12px;
  }
  .edu-box img {
    height: 200px;
  }
  .contact h1 {
    font-size: 15px;
  }
  #course-p {
    font-size: 12px;
    padding: 20px 0px;
  }
}
